.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  perspective: 1000px;
  margin-bottom: -15px;
  .game-card {
    width: 20%;
    user-select: none;
    height: 110px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 5px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    .game-back,
    .game-front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: 0.6s;
      background: #d6d6d6;
      backface-visibility: hidden;
    }
    .game-back {
      font-size: 50px;
      line-height: 120px;
      cursor: pointer;
      color: darken(#ee6910, 30%);
      color: #6d1124;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .game-front {
      transform: rotateY(180deg);
      line-height: 110px;
      text-emphasis: none;
      img {
        vertical-align: middle;
        width: 70%;
        max-width: 150px;
        max-height: 75%;
      }
    }
    &.flipped {
      transform: rotateY(180deg);
    }
    &.matched {
      transform: rotateY(180deg);
      .game-front {
        box-shadow: 0 0 0 2px rgba(#000, 0.05) inset;
        animation: selected 0.8s 0s ease 1;
        animation-fill-mode: both;
        opacity: 1;
      }
      .game-back {
        visibility: hidden;
      }
    }
  }
}

.restart-button {
  width: 12em;
  height: 3em;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.game-result-centered {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}
