.Toastify__toast-container {
  margin-left: 10px !important;
  margin-top: 20px !important;
  width: 250px !important;
  font-size: 14px !important;

  .Toastify__toast {
    border-radius: 10px !important;

    .Toastify__toast-body {
      margin: 0px !important;
      padding: 0px !important;
      font-family: "TAEBAEKmilkyway" !important;
    }
  }
}
