/* swiper-custom.css */
.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .swiper-slide-page1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
