.selected-tarocard {
    position: absolute;
    border-radius: 80px;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 1s;
    box-shadow: 0 0 10px 5px #c8c8c8;
}

.selected-tarocard::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
            var(--rotate),
            #fffde7,
            #fdd835 43%,
            #f57f17
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.selected-tarocard::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
            var(--rotate),
            #fffde7,
            #fdd835 43%,
            #f57f17
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.selected-tarocard:hover{

}

@keyframes lightEffect {
    0% {
        transform: translate(0, 0);
        box-shadow: 0 0 10px 5px #c8c8c8;
    }
    50% {
        transform: translate(300px, 300px);
        box-shadow: 0 0 20px 10px #c8c8c8;
    }
    100% {
        transform: translate(0, 0);
        box-shadow: 0 0 10px 5px #c8c8c8;
    }
}